<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-color: #09AAD6;">
    <!-- <div class="overlay solid-overlay"></div> -->
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <svg class="icon" viewBox="0 0 30 32">
                <use xlink:href="{{ site.baseurl_root }}/img/sprites/sprites.svg#icon-twitter"></use>
            </svg>
            <h4> {{ site.data.[site.lang].index.twitter-feed.title }} </h4>
            <br>
            <h4>
              <a href="https://twitter.com/search?q=%23{{ site.data.[site.lang].index.twitter-feed.hashTag }}" target="_blank">#{{ site.data.[site.lang].index.twitter-feed.hashTag }}</a>
            </h4>
            <!-- <div id="tweets" class="tweets"></div> -->
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
