.suscribeTextoClaro {
  font-weight: 300 !important;
}

.suscribeTextoAbajo {
  font-size: 14px !important;
}

.heroFecha {
  font-size: 34px !important;
  height: 29px;
}

.heroBoton {
  font-size: 1.2em !important;
}
