<section id="direction-details" class="direction-details">
    <div class="content-wrapper">
        <section class="image-section standart-height" style="background-image: url('/img/Exterior hotel.jpg');">
            <h3>Alojamiento en Cáceres</h3>
        </section>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-left">
                
                
                
                <div class="col-md-12 col-xs-9 same-height animated hiding" data-animation="fadeInDown" data-delay="0">
                    <div class="card">
                        <h4>Hotel</h4>
                        <p>En GDG Cáceres, hemos conseguido un descuento en el hotel Don Manuel De Cáceres para los asistentes al evento. Es un hotel de 4 estrellas situado en pleno casco antiguo de la ciudad, a 300 metros de la Plaza Mayor. Ofrece un spa, recepción 24 horas y habitaciones elegantes con conexión WiFi gratuita. 
                        ¡Y con un una valoración en Booking de 8,1! </p> <br>
                        Para reservar, llamad al número 927 24 25 24, tendréis que decir que venís a ExFest, más tarde tendréis que presentar entrada.
                                <a href="http://www.atiramhotels.com/hoteles/caceres/hotel-don-manuel-caceres-atiram/?gclid=Cj0KEQjwoYi4BRDF_PHHu6rI7NMBEiQAKZ-JuKB8LL8ExN749hIPnMPLtRKY26dXutSvP0zNzlI9g64aAqFy8P8HAQ" class="btn btn-primary waves-effect waves-button waves-light waves-float pull-right " target="_blank">
            Más información
        </a>
                    </div>
                </div>
                
                
                <div class="col-md-6 col-xs-8 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                        <img src='/img/Habitacion-hotel-Don-Mnauel-21.jpeg'style="width: 100%; height: 100%;"></img><br><br>
                         <p>Habitación doble uso individual: 77€</p>
                           
                    </div>
                </div>
                
                <div class="col-md-6 col-xs-8 same-height animated hiding" data-animation="fadeInDown" data-delay="1000">
                    <div class="card">
                        <img src='/img/Habitacion-hotel-Don-Mnauel-11.jpg' style="width: 100%; height: 100%;"></img><br><br>
                         <p>Habitación doble: 88€</p>
                           
                    </div>
                </div>
                
                
                <div class="col-md-12 col-xs-12 animated hiding" data-animation="fadeInDown" data-delay="0">
                   <div class="card">
                    <h4>Como llegar a Cáceres</h4><br><br>
                        <iframe width="100%" height="378" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://amovens.com/widgets/event?id=2688&theme=dark"></iframe><br><small style="display:block;text-align:center;"><a href="https://amovens.com/" target="_blank" style="color:#666!important;font-size:11px;text-decoration:none;font-family:arial;" title="Compartir coche y alquiler de coches entre particulares">A través de Amovens</a> – <a href="https://amovens.com/app" target="_blank" style="color:#666!important;font-size:11px;text-decoration:none;font-family:arial;" title="App de Amovens para iPhone y Android">¡Descárgate la app gratuita!</a></small>               </div>
                   </div>
            </div>
        </div>
    </div>
</section>
<!-- End Direction Details -->
